@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//scdn.primus.netdna-cdn.com/latest/css/lato/lato-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(//scdn.primus.netdna-cdn.com/latest/css/lato/lato-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(//scdn.primus.netdna-cdn.com/latest/css/lato/lato-black-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(//scdn.primus.netdna-cdn.com/latest/css/lato/lato-italic-webfont.woff) format('woff');
}
body {
  background-color: #ecf0f1;
  height: 100% ;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #18bc9c;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  text-shadow: 0 -0.5px 0 #ffffff;
}
.navbar {
  border-radius: 0;
  background-color: #b4bcc2;
  height: 60px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 2rem;
}
.navbar-header {
  float: right;
}
.navbar-brand {
  color: white !important;
  font-size: 3rem;
}
.navTxt {
  color: white !important;
  font-size: 2rem;
}
.navbar-toggle {
  margin-left: 1rem ;
}
#slider,
.leftSideNav {
  background: #95a5a6;
  color: black;
  padding-left: 1rem;
  padding-top: .5rem;
  font-size: 2rem;
  position: fixed;
  height: 100%;
  width: 400px;
  left: -409px;
  top: 60px;
  border-right: 1px solid black;
}
.jumbotron {
  background-color: #ecf0f1;
}
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 2rem;
  }
}
img {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
