<div id="docum">
<h1>Documentation For Primus API Functionality</h1>

<h2>Getting Started</h2>

<p>First you will need to download the PrimusAPI library and insert your Unique App key which will associate you and your app to your data. To do this insert the following script in your html body.</p>

<pre class="prettyprint">
    &ltscript id="primusAPI" data-app_key="###" src='http://ca_1.primusapi.com/acdn/libs/cloudAPI.js'>&lt/script></pre>

<table class="tdoc">
    <tr>
        <td width = 20%>id="primusAPI"</td>
        <td>use this function exactly as it is necessary to lookup and validate your unique app code</td>
    </tr>
    <tr>
        <td>data-app_key="###"</td>
        <td>this will ensure that your data is matched to your app only. You will put your unique API key here to replace the ###. You will obtain this API Key by signing up for Primus API, and copying it from your application page. Without this being correct for the application you are working on, nothing else will work </td>
    </tr>
    <tr>
        <td>src=" "</td>
        <td>make sure you use set the source equal to 'http://ca_1.primusapi.com/acdn/libs/cloudAPI.js'. This downloads the correct Primus API library allowing you to use all our proprietary functions</td>
    </tr>
</table>
<p><br></p>
<p>Then you will need to create a new variable as the API and all other javascript calls withing the <code>&ltscript>&lt/script></code> tag</p>

<pre class="prettyprint">
    APIname = new CloudAPI()</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname</td>
        <td>variable you are creating that you will use to call the rest of the functions like select, delete, etc. This can either be a global or static variable</td>
    </tr>
    <tr>
        <td>new CloudAPI()</td>
        <td>use this function exactly</td>
    </tr>
</table>

<br><br>

<h2>Insert Function</h2>
<p>To insert data collected from any input or function you will need to use the following code</p>

<pre class="prettyprint">
    APIname.insert("tablename", object, callback)</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.insert()</td>
        <td>calls the Insert Data function for the APIname variable specified in the 1st step</td>
    </tr>
    <tr>
        <td>1st argument</td>
        <td>tells the function what table this data should be inserted into. As this is a dynamic language, if you put here a table name that does not exist, the system will create it and input the data there.</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>specifies the object containing all the data you wish to write. This might be a single variable with one property. Or you may define a new object, and place as many properties as data points as you like. This may look like <code>object=new object(); object.firstname="vic"</code></td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>Callback function returns a Primary Key so that you can execute other functions upon completion</td>
    </tr>
</table>

<br><br>

<h2>Update Function</h2>
<p>To insert data collected from any input or function you will need to use the following code</p>

<pre class="prettyprint">
    APIname.update("tablename", row_to_be_udapted, object, callback)</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.update()</td>
        <td>calls the Update Data function for the APIname variable specified in the 1st step</td>
    </tr>
    <tr>
        <td>1st argument</td>
        <td>tells the function what table this data should be updated into.</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>tells the function which row in the table to be updated. This way of selecting the row you want will need to be defined elsewhere in your code</td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>specifies the object containing all the new data you wish to update. This might be a single variable with one property. Or you may define a new object, and place as many properties as data points as you like.</td>
    </tr>
    <tr>
        <td>4th Argument</td>
        <td>Callback function returns a Primary Key so that you can execute other functions upon completion</td>
    </tr>
</table>

<br><br>

<h2>Delete Function</h2>
<p>To insert data collected from any input or function you will need to use the following code</p>

<pre class="prettyprint">
    APIname.del("tablename", row_to_be_udapted, callback)</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.del()</td>
        <td>calls the Delete Data function for the APIname variable specified in the 1st step</td>
    </tr>
    <tr>
        <td>1st argument</td>
        <td>tells the function what table this data should be deleted from.</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>tells the function which row in the table will be deleted. This way of selecting the row you want will need to be defined elsewhere in your code</td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>Callback function returns a Primary Key so that you can execute other functions upon completion</td>
    </tr>
</table>

<br><br>

<h2>Selecting Data</h2>
<p>There are two ways to select data. The first is if you want to select data within a row which is the selectAll function. This is used when you are just trying to pull and view the data from one table. The second is to select via Primary Key. This allows you to create joins accessing data from multiple tables. This is the selectKey function.</p>

<h2>select</h2>
<p>To select data from a given (singular or set) of rows in a table. Data will be returned in an Array.</p>

<pre class="prettyprint">
    APImane.select("tablename", object, callback)</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.select()</td>
        <td>calls the Select Data function for the APIname variable specified in the 1st step</td>
    </tr>
    <tr>
        <td>1st argument</td>
        <td>tells the function what table this data should be selected from.</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>specifies the query object which has the properties with the values you would like to select. This might be a single property or many.</td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>callback function returns a function with (data) as the argument. So if your callback argument is "cb" then the function using the data returned would be: function cb(data){ }</td>
    </tr>
</table>

<br><br>

<h2>selectRelation</h2>
<p>To select data via a using Primary and Foreign Keys to join data from two tables</p>

<pre class="prettyprint">
    APIname.selectRelation("tableP", "tableF", null, "P_id", "F_id", onRet)</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.selectRelation()</td>
        <td>calls the Select by Key function for the APIname variable specified in the 1st step</td>
    </tr>
    <tr>
        <td>1st argument</td>
        <td>selects the table that contains the Primary Key</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>selects the table that contains the Foreign Key</td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>any additional arguments to reduce the number of rows selected. I.E. state=NY. This only relates to the table that is specified in Argument 2 as the table that contains the Foreign Key.</td>
    </tr>
    <tr>
        <td>4th Argument</td>
        <td>selects the column name that is specified as the Primary Key</td>
    </tr>
    <tr>
        <td>5th Argument</td>
        <td>selects the column name that is specified as the Foreign Key</td>
    </tr>
    <tr>
        <td>6th Argument</td>
        <td>Callback function returns a set of data</td>
    </tr>
</table>

<br><br>

<h2>Mail </h2>
<p>This will allow you to send an email as part of a function.</p>

<pre class="prettyprint">
    APIname.mail("to email", "subject", "body")</pre>

<table class="tdoc">
    <tr>
        <td width = 20%>APIname.mail()</td>
        <td>calls the mail function for the APIname variable specified in the 1st step. Note all emails will be sent from from logged in account holder</td>
    </tr>
    <tr>
        <td>1st Argument</td>
        <td>specifies the to: field for the recipient of the email</td>
    </tr>
    <tr>
        <td>2nd Argument</td>
        <td>specifies the Subject of the email being sent</td>
    </tr>
    <tr>
        <td>3rd Argument</td>
        <td>specifies the Body of the email being sent. Please note that for a longer message, you can feel free to declare a variable (i.e var b = "long text") and then pass that variable b in this field.</td>
    </tr>
</table>
</div>
