<section id='account'>
<style>
    .non-select {
        background-color: white;
    }
</style>
<div class='grid'>
<section id='left' class='unit one-third'>
<div class='border'>

    <div class='cen bak'>Apps</div>

    <div class='cen pad'><button id='dataviewBut' class='topcoat-button--cta'>Data View</button></div>

    <div class='cen'>Create a new app:</div>
    <div class='cen'><input id='new_app' name='new_app'
                            class='topcoat-text-input textInput cen' style='width:90%' type='text'
              value='' placeholder='New app name'></div>
    <div class='cen pad'>
        <a id='newAppBut' class='topcoat-button cen' style='margin-top: .5rem'>Create New App</a>
    </div>
    <!--list -->
    <div class='topcoat-list__container '>
        <h3 class='topcoat-list__header'>Apps:</h3>
        <ul id='template' class='topcoat-list'><strong>
            <li class='topcoat-list__item' data-bind='app_name' >
                Item
            </li>
        </strong>
        </ul>
    </div>

</div>
</section>
<section id='right' class='unit two-thirds'>
<div class='border'>
    <div class='cen bak'>App</div>

    <legend>Selected App:</legend>
        <div class='line'>
            <label class='label' for='app_name'>App name:</label>
            <input id='app_name'
                   class='topcoat-text-input textInput non-select ' readonly type='text'
                   value='' >
        </div>
        <div class='line'>
            <label class='label' for='app_key'>App key:</label>
            <input id='app_key'
                   class='topcoat-text-input textInput non-select' readonly type='text'
                   value='' >
        </div>

        <div class='line'>
            <label class='label' for='domain'>Lock Domain:</label>
            <input id='domain'
                   class='topcoat-text-input textInput '  type='text'
                   value='' >
        </div>
        <button  class='topcoat-button tabIn'>Set Security</button>

</div>
</section>

</div>
</section>