<div id='form' class='view'>
    <form>
        First Name<input type="text" id="firstname" class="field"><br>
        Last Name <input type="text" id="lastname"  class="field"><br>
        <button id="lookup" onclick="return false">Look Up</button>
        <button id="create" onclick="return false">Create Name</button>
    </form>

<script>
    cAPI=new CloudAPI()

    var newAppBut = document.getElementById('create')
    newAppBut.addEventListener('click', function(e) {
        var firstname = $('#firstname').val()
        var lastname = $('#lastname').val()
        console.log("clicked " + firstname +", " + lastname)

        //TYPE LAB HERE

    })

    function onPK(data){
        console.log('back')
        //console.log(data)
    }

    $('#lookup').click(function(){
        var ename =new Object()
        var firstname = $('#firstname').val()
        ename.firstname=firstname
        console.log("clicked " + firstname)
        cAPI.select("nameapp", ename, onFound)
    })

    function onFound(data){
        console.log(data.array_)
        // TYPE LAB here
    }

</script>
</div>