.form {
  margin-left: 4rem;
}
.form,
.line {
  display: block;
  float: left;
  width: 34rem;
}
.label {
  float: left;
}
.textInput {
  float: right;
  width: 30rem;
}
.but {
  display: inline-block;
  margin-right: 4rem;
}
