<div id='insert' class='pad'>
<div id='insert'>
    <h1>How To Insert Data Through Primus API</h1>

    <p>A standard Cloud API retrieves data from another source in the Cloud. From here, it is not a stretch of the imagination to realize that you can write data to the cloud in a similar fashion. This is what we at Primus API strive to make as easy and simple as possible for front end developers and UI designers to do. This lets you create applications without ever needing to even think about touching Back End development.</p>

    <p>For this tutorial we are just going to learn how to write data directly from your front end using Primus API.</p>

    <p>Lets imagine a game application you are creating where you are wanting to store 2 pieces of data:</p>
    <ul>
        <li>username</li>
        <li>score</li>
    </ul>
    <p>You may want to call up this data for a High Scores Board.</p>

    <p>Lets get started!</p>

    <h2>Step 1:</h2>
    <p>First lets create a form to get the data from. In your game, you would obviously have a different way of getting a username and score, but since we don't need a build a game, we will just enter this into a form and insert it through our 'Submit' button.</p>

<pre class='prettyprint'>
    &ltbody>
    &ltform name='form' method='get' action='Insert2.html'>
        Name: &ltinput type='text' name='name' value='Jack' />&lt/br>
        Score: &ltinput type='text' name='score' value='100'/>
        &ltbutton id='submit' >Submit&lt/button>&lt/br>
    &lt/form>
    &lt/body>
</pre>

    <p>This form is assuming the name 'Jack' and the score of '100'. This will submit and get the next code from 'Insert2.html'. So we will need to create that document.</p>

    <h2>Step 2:</h2>

    <p>First we will add the Primus API library that will allow you to use our services by adding the following script into your html. <br><br>But before we do this, we need to create an account to get a unique app key. Now that we are writing data, we need to know where to write it. So make sure you go 
        <a style='font-size: 20px' href='http://ca_1.primusapi.com/account/' target='new'>sign up for an account</a> and get your app key.</p>

    <p>Then paste the following code into a new html doc 'Insert2.html' replacing the ### after the data-app_key function with your unique key. Note where we input: id='primusAPI' this creates a handle which the library refers to and should never be changed.</p>

<pre class='prettyprint'>
    &ltscript src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>&lt/script>
</pre>

    <p>In the following code you can see this, as well as a jQuery library.</p>

<pre class='prettyprint'>
    &ltbody>
    &ltscript src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>&lt/script>
    &ltscript src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'>&lt/script>


    &lt/body>
</pre>

    <h2>Step 3:</h2>
    <p>Next lets add in a script that will write data. First we will create a new Cloud API called 'c'. Then we create a new object and put the properties of the username and score into that object so it can write to the cloud.</p>

<pre class='prettyprint'>
    &ltbody>

    &ltscript src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>&lt/script>
    &ltscript src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'>&lt/script>

    &ltscript>
        <b>c= new CloudAPI()

        var msg = new Object()
        msg.name = $.url().param('name');
        msg.score= $.url().param('score');</b>

    &lt/script>
    &lt/body></pre>

    <p>This bold code creates a new object called 'msg'. The next two lines place properties into that object, the first being name, which is equal to the parameter 'name' passed through the URL. The 2nd does the exact same thing for the 'score' parameter.</p>

    <h2>Step 4:</h2>
    <p>Lastly we run the only thing that should actually be new which is the Insert Data function from Primus API.</p>

<pre class='prettyprint'>
    &ltbody>

    &ltscript src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>&lt/script>
    &ltscript src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'>&lt/script>


    &ltscript>
        c= new CloudAPI()

        var msg = new Object()
        msg.name = $.url().param('name');
        msg.score= $.url().param('score');

        <b>c.insert('names', msg, onPK)
            function onPK(data) {
            console.log(data)
        }</b>
    &lt/script>
    &lt/body>
</pre>

    <p>This is all the code we will need to accomplish this task!</p>

    <p>So we are running c.insert, which runs the Insert Data function from the new API 'c' we created at the beginning. The arguments in the function are as follows:</p>
    <table style='margin-left: 4rem' border='2px'>
        <tr>
            <td class='pc1'>
                1st argument</td>
            <td class='pc2'> Table name to insert the data into. In this case we are inserting into the <b>'names'</b> table.</td>
        </tr>
        <tr>
            <td class='pc1'>
                2nd Argument</td>
            <td class='pc2'> Defines the object that we are writing. In this case it is the <b>msg</b> object which has our properties of name and score.</td>
        </tr>
        <tr>
            <td class='pc1'>
                3rd Argument</td>
            <td class='pc2'> Callback function. This lets us do something like run another function when complete</td>
        </tr>
    </table>
    <p>In the last 2 lines we are simply running a callback function to trace that it was successful. So we define a function on the callback 'onPK' to return data. The last line then tells the system to show that data in the console log.</p>

    <p>Thats it! You have successfully written a user and highscore into your cloud database to the 'names' table!
    You can also view the data on PrimusAPI's account screen: click the 'Data View' button.

    </p>



</div>
</div>