<section id='pricing'>
<!-- http://freezecoders.com/demos/Simple-Pricing-Table-Using-CSS3.php -->
<style>
    .icon   {
        background: url(pCDN/assets/gear.png) no-repeat;
        background-size: 21%;
        background-position: 50% 0%;
        margin: 1rem auto;
        height: 4rem;
    }

    .acc {
        background-color: #F7D835;
        text-align: center;
        padding: 1rem 0;
        font-size: 2rem;
        text-transform: uppercase;
        height: 6rem;
    }

    .box    {
        float: left;
        margin:0 1rem;
        transition:all 0.3s;
        width: 20rem;
        margin-top: 4rem;
    }
    .box:hover      {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        box-shadow: 1px 1px 30px #ccc;
        -webkit-box-shadow: 1px 1px 30px #ccc;
        -moz-box-shadow: 1px 1px 30px #ccc;
        -ms-box-shadow: 1px 1px 30px #ccc;
    }
    .box ul        {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .box ul li       {
        background-color: #E9E9E9;
        margin: 0px;
        padding: 10px 50px;
        text-align:center;
    }
    .box ul li:nth-child(2n) {
        background-color: #C2C2C2;
    }

    .amt       {
        font-size: 3rem;
        text-align: center;
        background-color: #575757!important;
        color: #FFF;
        font-weight:bold;
        height: 6rem;
    }

</style>

<div class='box'>
    <div class='acc'>Not For Profit</div>
    <div class='icon'></div>
    <ul>
        <li>1 GB DB Space</li>
        <li>10K transactions</li>
        <li>SLA</li>
        <li>Email support</li>
        <li>Data access via DataView</li>
        <li class='amt'>$10 /month</li>
    </ul>
</div>


<div class='box'>
    <div class='acc'>Small Team Prototype</div>
    <div class='icon'></div>
    <ul>
        <li>1 GB DB Space</li>
        <li>10K transactions</li>
        <li>SLA</li>
        <li>Email support</li>
        <li>Data access via DataView</li>
        <li class='amt'>$35 /month</li>
    </ul>
</div>

<div class='box'>
    <div class='acc'>Mission Critical Enterprise Operations</div>
    <div class='icon'></div>
    <ul>
        <li>10 GB DB Space</li>
        <li>200K transactions</li>
        <li>SLA</li>
        <li>Named support</li>
        <li>DataView PLUS private DB</li>
        <li class='amt'>$200 /month</li>
    </ul>
</div>


</section>