<div id='tut'>
    <div class='tabIn'>
    <p/>
    The file you will be including, with comments on how to use it:
    <a href='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js</a>.
    It has all the api, this page is one example.

    <p/>
    In addition to the sample on this page, you should view insert and select examples (on the left menu).
    </div>
    <pre id='code1'><code>
        &lthtml>&lthead>&lt/head>&ltbody>
        &ltform>
            First Name&ltinput type='text' id='firstname' >&ltbr>
            Last Name&ltinput type='text' id='lastname' >&ltbr>
            &ltbutton id='lookup' onclick='return false'>Look Up&lt/button>
            &ltbutton id='create' onclick='return false'>Create Name&lt/button>
        &lt/form>
        &ltscript src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'>&lt/script>
        &lt!-- app -->
        &ltscript  src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI2.js'>&lt/script>
    </code></pre>
    <pre id='code2'><code>
        &ltscript>
        &lt!-- insert -->
        cAPI=new CloudAPI()
            var cBut = document.getElementById('create')
            cBut.addEventListener('click', function(e) {
                var firstname = $('#firstname').val()
                var lastname = $('#lastname').val()
                console.log('clicked ' + firstname +', ' + lastname)
                var ename =new Object()
                ename.firstname=firstname
                ename.lastname=lastname
                cAPI.insert('nameapp',ename, onInserted)
            })

            function onInserted(data){
                console.log('back')
                //console.log(data)
            }
    </code></pre>
    <pre id='code3'><code>
            &lt!-- select -->
            var sBut = document.getElementById('lookup')
            sBut.addEventListener('click', function(e) {
                var firstname = $('#firstname').val()
                console.log('clicked ' + firstname)
                var ename =new Object()
                ename.firstname=firstname
                cAPI.select('nameapp', ename, onSelect)
            })

            function onSelect(data){
                console.log(data.array_)
                $('#lastname').val(data.array_[0].lastname)
            }

        &lt/script>
        &lt/body>&lt/html>
    </code></pre>

</div>