<section id='joinLogin' >
<style>
    form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        max-width: 41rem;

    }
    .line {
        display: block;
        float: left;
        width: 30rem;
        margin-bottom: .3rem;
    }
    label {
        float: left;
        display: block;
        width: 6em;
        text-align: right;
        vertical-align: middle;
        line-height: 3rem;
    }
    .textInput {
        float: right;
        width: 23rem;
    }
    .but {
        margin-top: .1rem;
        float: left;
        margin-left: 7rem;
    }
    .tabIn {
        margin-left: 7rem;
    }


</style>
<form id='formL' class='form '>
    <div class='line center'>
        Login
    </div>
    <div class='line'>
        <label class='label' for='email'>E-Mail:</label>
        <input id='email' name='title' class='topcoat-text-input textInput' type='text' size='38' value='' placeholder='E-Mail'>
    </div>
    <div class='line'>
        <label class='label' for='password'>Password:</label>
        <input id='password' name='title' class='topcoat-text-input textInput' type='password' size='38' value='' placeholder='Password'>
    </div>
    <div class ='line'><label class='label'></label>
        <a id='loginBut' class='topcoat-button--cta but' >Login</a>
    </div>
    <div class='line center'>
        <a href=''>Reset your password</a>
    </div>

</form>

<form id='formJ' class='form '>
    <div class='line center'>
        - or -
    </div>
    <div class='line center'>
        Sign Up
    </div>
    <div class='line'>
        <label class='label' for='Jemail'>Full Name:</label>
        <input id='full_name' name='title' class='topcoat-text-input textInput' type='text' size='38' value='' placeholder='Enter your full name'>
    </div>
    <div class='line'>
        <label class='label' for='Jpassword'>Password:</label>
        <input id='Jpassword' name='title' class='topcoat-text-input textInput' type='password' size='38' value='' placeholder='Password'>
   </div>
    <div class='line'>
        <label class='label' for='Jpassword2'>Confirm:</label>
        <input id='Jpassword2' name='title' class='topcoat-text-input textInput' type='password' size='38' value='' placeholder='Confirm Password'>
    </div>
    <div class='line'>
        <label class='label' for='Jemail'>Work E-Mail:</label>
        <input id='Jemail' name='title' class='topcoat-text-input textInput' type='text' size='38' value='' placeholder='E-Mail'>
    </div>
    <div class='line'>
        <label class='label' for='promo_code'>Promo code:</label>
        <input id='promo_code' name='title' class='topcoat-text-input textInput' type='text' size='38' value='' placeholder='Promo COde'>
    </div>
    <div class='line'>

        <div class='tabIn'>
            <input type="checkbox">
            I agree with terms of service.
        </div>
    </div>
    <div class ='line'><label class='label'></label>
        <a id='joinBut' class='topcoat-button--cta but' >Sign Up</a>
    </div>
</form>




</section>
