html,
body {
  height: 100%;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.content {
  background: #dfe2e2;
  margin: 0;
  padding: 1rem;
}
#slider {
  position: fixed;
  top: 4rem;
  width: 400px;
  left: -400px;
  z-index: 100;
}
#container {
  top: 0px ;
  position: absolute ;
}
header {
  top: 0px ;
  position: fixed ;
  z-index: 9;
}
#kontainer {
  top: 4rem;
  position: relative ;
  z-index: 1;
}
#code1 {
  visibility: hidden;
}
