<div id='why'>


    Why
    Why

    <pre id='code1'><code data-language='HTML'>
        &lthtml>&lthead>&lt/head>&ltbody>
        &ltform>
            First Name&ltinput type='text' id='firstname' >&ltbr>
            Last Name&ltinput type='text' id='lastname' >&ltbr>
            &ltbutton id='lookup' onclick='return false'>Look Up&lt/button>
            &ltbutton id='create' onclick='return false'>Create Name&lt/button>
        &lt/form>
        &ltscript src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js'>&lt/script>
        &lt!-- app -->
        &ltscript id='primusAPI'
                data-app_key='XXX' src='http://ca_1.primusapi.com/acdn/libs/cloudAPI.js' >&lt/script>
    </code></pre>
    <pre id='code2'><code data-language='HTML'>
        &ltscript>
            cAPI=new CloudAPI()
            &lt!-- insert -->
            var cBut = document.getElementById('create')
            cBut.addEventListener('click', function(e) {
                var firstname = $('#firstname').val()
                var lastname = $('#lastname').val()
                console.log('clicked ' + firstname +', ' + lastname)
                var ename =new Object()
                ename.firstname=firstname
                ename.lastname=lastname
                cAPI.insert('nameapp',ename, onInserted)
            })

            function onInserted(data){
                console.log('back')
                //console.log(data)
            }
    </code></pre>
    <pre id='code3'><code data-language='HTML'>
            &lt!-- select -->
            var sBut = document.getElementById('lookup')
            sBut.addEventListener('click', function(e) {
                var firstname = $('#firstname').val()
                console.log('clicked ' + firstname)
                var ename =new Object()
                ename.firstname=firstname
                cAPI.select('nameapp', ename, onSelect)
            })

            function onSelect(data){
                console.log(data.array_)
                $('#lastname').val(data.array_[0].lastname)
            }

        &lt/script>
        &lt/body>&lt/html>
    </code></pre>

</div>