<section id='about' class='about'>

    <div class='about_txt'>
    Wanna get into<br/>
    some hardcore<br/>
    back end<br/>
    services?<p/>
    <div class='bold'>
        NO!?<br/>
        Good!<br/>
    </div>
    </div>

    <div class='more_txt'>
    You got the HTML5 front end;<br/> We operate the Cloud API.
    </div>

    <div class='pad'>

    <img src="aCDN/assets/lab.png" alt="" >

    Primus API is a Cloud API operator that
        provides back end service and database API, exclusivity via front end .js.
        You no longer need to learn, setup, deploy or run back end languages and tools;

        And even better, we handle all the security, scalability,
        and guarantee the fastest load times.
        This way you can focus on what makes your App great:
        UI, design or HTML5 animations that wow your users.

    <b><p/>
    So go ahead, make something amazing.
    </b>
    </div>


</section>