<section id="example2">
    <div class="container">
        <div class="row">
            <div class="span2"></div>
            <div class="span8">
                <br>
                <h2>A small look at our work</h2>
                <div id="myCarousel2" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                        <img src="../aCDN/libs/flat/mac01.png" alt="">
                        </div>
                        <div class="item">
                        <img src="../aCDN/libs/flat/mac02.png" alt="">
                        </div>
                        <div class="item">
                        <img src="../aCDN/libs/flat/mac03.png" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel2" data-slide="next">&rsaquo;</a>
                </div><!-- myCarousel2 -->
            </div><!-- span8 -->
            <div class="span2"></div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- example -->
