<section id="pricewrap">
    <div class="container">
    <br>
        <div class="span12">
        <h2>See our prices and compare!</h2>
            <div class="pricing-table-wrapper">
                <div class="pricing-table row-fluid">
                    <ul class="pricing-column span2">
                        <li class="pricing-title">Beginner</li>
                        <li class="pricing-price">$20 <span>/month</span>
                        </li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>No</li>
                        <li>No</li>
                        <li class="pricing-button">
                            <a class="button" href="#">Sign Up</a>
                        </li>
                    </ul>

                    <ul class="pricing-column span2">
                        <li class="pricing-title">Beginner</li>
                        <li class="pricing-price">$20 <span>/month</span>
                        </li>
                        <li>5,000MB Storage</li>
                        <li>1TB Bandwidth</li>
                        <li>Technical support</li>
                        <li>cPanel &amp; MySQL</li>
                        <li>99% uptime</li>
                        <li class="pricing-button">
                            <a class="button" href="#">Sign Up</a>
                        </li>
                    </ul>

                    <ul class="pricing-column span3">
                        <li class="pricing-title">Special Offer!</li>
                        <li class="pricing-price">$50 <span>/month</span>
                        </li>
                        <li>50,000MB Storage</li>
                        <li>5TB Bandwidth</li>
                        <li>Technical support</li>
                        <li>cPanel &amp; MySQL</li>
                        <li>100% uptime</li>
                        <li class="pricing-button">
                            <a class="button" href="#">Sign Up</a>
                        </li>
                    </ul>

                    <ul class="pricing-column span5">
                        <li class="pricing-title">Special Offer!</li>
                        <li class="pricing-price">$100 <span>/month</span>
                        </li>
                        <li>Unlimited Storage</li>
                        <li>Unlimited Bandwidth</li>
                        <li>Technical support</li>
                        <li>cPanel &amp; MySQL</li>
                        <li>100% uptime</li>
                        <li class="pricing-button">
                            <a class="button" href="#">Sign Up</a>
                        </li>
                    </ul>
                </div><!-- Pricing-Table Row Fluid -->
            </div><!-- Pricing-Table-Wraper -->
        </div><!-- Span12 -->
    </div><!-- Container -->
    <br>
    <br>
</section><!-- PriceWrap -->
