<section id='about' class='about'>

<div class='about_txt'>
    Wanna get into<br/>
    some hardcore<br/>
    back end<br/>
    services?<p/>
    <div class='bold red'>
        NO!?<br/> </div>
    <div class='bold'> Good!<br/>
    </div>
</div>

<div class='more_txt red'>
    You got the HTML5 front end;<br/> We operate the Cloud API.
</div>

<div class='pad grid'>
    <div class='unit one-quarter'>
        <img src="pCDNv_904/assets/lab.png" >
    </div>
    <div class='unit three-quarters'>
        Primus API is a Cloud API operator that
        provides back end service and database API, exclusivity via front end .js.
        You no longer need to learn, setup, deploy or run back end languages and tools

        And even better, we handle all the security, scalability,
        and guarantee the fastest load times.
        <br/>You just write your HTML5 and use our library for database API and more, starting like so:
        <pre>
            &ltscript src='http://scdn.primus.netdna-cdn.com/latest/cloudAPI.js'>&lt/script>
        </pre>
        This way you can focus on what makes your App great:
        UI, design or HTML5 animations that wow your users.
        <br/><i>Just realize the truth: there is no back end!</i>
        <b><p/>
            So go ahead, make something amazing.
        </b>
    </div>

</div>




</section>