<section id="servicewrap">
    <div class="container">
        <h2>OUR SERVICES</h2>
        <br>
        <div class="row">
            <div class="span3">
                <div class="mask">
                    <img src="aCDN/libs/flat/step1.png" alt="">
                    <h4>Inquire</h4>
                    <p>We begin with a simple question: Why does your business exist? Why create this brand, app, holographic guide to the galaxy? We explore your competition and what sets you apart.</p>
                </div>
            </div><!-- span3 -->

            <div class="span3">
                <div class="mask">
                    <img src="aCDN/libs/flat/step2.png" alt="">
                    <h4>Plan</h4>
                    <p>A project's success hinges upon a well-conceived plan. We create a strategic plan that outlines what we will make together, how make the most of your budget and what success looks like.</p>
                </div>
            </div><!-- span3 -->
            <div class="span3">
                <div class="mask">
                    <img src="aCDN/libs/flat/step3.png" alt="">
                    <h4>Design</h4>
                    <p>This is when the sketching begins. The design process never begins in front of the computer. We start loose, identify concepts, iterate, and refine them through regular dialogue with you.</p>
                </div>
            </div><!-- span3 -->

            <div class="span3">
                <div class="mask">
                    <img src="aCDN/libs/flat/step4.png" alt="">
                    <h4>Launch</h4>
                    <p>For us, this means involvement in every detail of production and fulfillment for your project. We continue to stay in touch, and closely monitor our babys success out in the wild.</p>
                </div>
            </div><!-- span3 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- servicewrap -->
