<section id='enterForm' >
<style>
    .form {
        opacity:0.99;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        max-width: 41rem;

    }
    .line {
        display: block;
        float: left;
        width: 27rem;
    }
    .label {
        float: left;
        display: block;
        width: 3rem;
        text-align: right;
    }
    .textInput {
        float: right;
        width: 23rem;
    }
    .but {
        margin-top: .1rem;
        float: left;
        margin-left: 4rem;
    }
</style>
<form id='formE' class='form '>
    <div class='line'>
        <label class='label' for='title'>Title:</label>
        <input id='title' name='title' class='topcoat-text-input textInput' type='text' size='38' value='' placeholder='Title'>
    </div>
    <div class ='line'>
        <label class='label' for ='full'>Full:</label>
        <textarea id='full' name='full'
                  class='topcoat-textarea textInput' rows='7'   cols='38' placeholder='Text'>
    </textarea></div>

    <div class ='line'><label class='label'></label>
        <a id='saveFormBut' class='topcoat-button--cta but' >Save</a>
    </div>
</form>
</section>
