
html, body {
  height:100%;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

#slider {
  position:fixed;
  top:4.5rem;
  width:400px;
  left:-407px;
  z-index:100;
  border:1px solid gray;
  border-radius:3px;
  box-shadow: 5px 5px 2px #888;
}

#navMenu li {
  display: inline;
  list-style-type: none;

}

#container {
  top: 0px ;
  left: 0px ;
  position: absolute ;
  width: 100%;
}

header  {
  top: 0px ;
  left:0px;
  position: fixed ;
  z-index:50;
}

#kontainer {
  top:4rem;
  left:0px;
  position: absolute  ;
  width: 100%;
  z-index:1;

}

///////////////table
table {
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}

table th {
  border-width: 1px;
  padding: .5rem;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table td {
  border-width: 1px;
  padding: .5rem;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

/////////////////////////////
.about {
  width: 100%;
  background: url(about_1.jpg) no-repeat  center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 28rem;
  display: block;
  position: absolute;

}

.about_txt {
  padding-top:1.2rem;
  text-align:right;
  font-size: 3rem;
  margin-right: 3rem;
}

.bold {
  font-size: 5rem;
  font-weight: 900;
  line-height: 4rem;
}

.more_txt {
  text-align:center;
  margin: 1rem;
  font-size: 2rem;
}


.pad {
  padding: 1rem;
}
/////////// tut