.container--sidemenu {
  position: fixed;
  width: 400px;
  left: -400px;
}
.on-top {
  z-index: 10;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
#header {
  top: 0  ;
  position: fixed ;
}
.content {
  background: #dfe2e2;
  margin: 0;
  padding: 1rem;
  top: 0  ;
  position: fixed ;
  overflow: hidden;
}
#kontainer {
  top: 4rem;
  position: relative ;
  overflow-x: auto;
  overflow-y: show;
}
#code1 {
  visibility: hidden;
}
