

.on-top {
  z-index:9;
}

html, body {
  height:100%;
}


.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

body {
  //overflow: hidden;
}


.container--sidemenu {
  position:absolute;
  width:400px;
  left:-400px;
  z-index:11;
}

#container {
  top: 0px ;
  position: relative ;
  overflow: visible;
}

#header  {
  top: 0px ;
  position: fixed ;
  z-index:10;
}

.content {
  background: #dfe2e2;
  margin:0;
  padding: 1rem;
}

#kontainer {
  top:4rem;
  position: relative ;


}

#code1 {
  visibility:hidden;
}