<section id="projectwrap_2">
    <div class="container">
    <br>
    <br>
    <h2>PROJECTS SHOTS</h2>
        <div class="row">
            <br>
            <div class="span4">
                <div class="project_item">
                    <div class="project_item_center">
                        <div class="mask2">
                            <a href="aCDN/libs/flat/pr01.jpg" rel="prettyPhoto">
                                <img src="aCDN/libs/flat/pr01.jpg" alt=""></a>
                        </div>
                        <div class="clear"></div>
                        <h3>Responsive Design</h3>
                    </div><!-- project_item_center -->
                </div><!-- project_item -->
            </div><!-- span4 -->

            <div class="span4">
                <div class="project_item">
                    <div class="project_item_center">
                        <div class="mask2">
                            <a href="aCDN/libs/flat/pr02.jpg" rel="prettyPhoto">
                                <img src="aCDN/libs/flat/pr02.jpg" alt=""></a>
                        </div>
                        <div class="clear"></div>
                        <h3>A Book Apart</h3>
                    </div><!-- project_item_center -->
                </div><!-- project_item -->
            </div><!-- span4 -->

            <div class="span4">
                <div class="project_item">
                    <div class="project_item_center">
                        <div class="mask2">
                            <a href="aCDN/libs/flat/pr03.jpg" rel="prettyPhoto">
                                <img src="aCDN/libs/flat/pr03.jpg" alt=""></a>
                        </div>
                        <div class="clear"></div>
                        <h3>Number Four</h3>
                    </div><!-- project_item_center -->
                </div><!-- project_item -->
            </div><!-- span4 -->

        </div><!-- row -->
        <br>
        <hr>
    </div><!-- container -->
</section><!-- projectwrap2 -->
