<section id='enterForm' >
<style>
#full {
    width:23rem;
    float:right;
    font-size: 1rem;
}
#lab_full {
    vertical-align: top;
    line-height: 2rem;

}

</style>
<form id='formE' class='form '>
    <div class='line'>
        <label class='label' for='title'>Title:</label>
        <input id='title' name='title' class='topcoat-text-input textInput'
               type='text' size='38' value='' placeholder='Title'>
    </div>
    <div class ='line'>
        <label id='lab_full' for ='full'>Full:</label>
        <textarea id='full' name='full'
                  class='topcoat-textarea'
                  rows='6'  cols='23' placeholder='Text'>
    </textarea></div>

    <div class ='line'><label class='label'></label>
        <a id='saveFormBut' class='topcoat-button--cta but tabIn' >Save</a>
    </div>
</form>
</section>
