<html>
<head>
    <link href='../assets/liteaccordion.css'
          rel='stylesheet' />

    <script src='http://code.jquery.com/jquery-2.0.0-beta3.js'></script>
    <script src='../app/liteaccordion.jquery.js'></script>

</head>
<body >

<div id='slider' style='margin-left:10px;'>
<ol>
    <li>
        <h2><span>What is?</span></h2>
        <div>
        <br/>
        There are many API's out there, FaceBook Graph API, Twilio for PBX, PubNub for Sockets.
        Ours are simpler, but do more.
        </div>
    </li>
    <li>
        <h2><span>Solution</span></h2>
        <div>
        <br/>
        You can now focus on things that are important to your business, like UX.

        </div>
    </li>
    <li>
        <h2><span>In Action</span></h2>
        <div>
        <br/>
        Many famous desingers are already using our API, such as ..
        </div>
    </li>
</ol>
</div>


<script>
    $('#slider').liteAccordion({
        activateOn : 'mouseover'
        ,slideSpeed : 800
        ,rounded : true
        ,enumerateSlides : true
        ,linkable : true
        ,theme : 'light'
        ,containerHeight: 640
        ,containerWidth : $(document).width()-50
    });
</script>

</body>
</html>