<div id='tutorial'  style='display:none;'>
    <!-- http://www.solife.cc/blog/html5-iframe-attribut-seamless-beispiele.html -->

<br/>

<table style='height:740px; width: 100%; '><tr><td>
    <div id='leftTut'  class='tut_col'
         style='margin-left:50px; border-top-left-radius: 1em;'>
        <p>&nbsp;</p>
        <div class='round_button' style='margin-left: 1em;'>*</div>
        <br/>
        <div style="margin-left: .5em;">Start over</div>
    </div>
</td><td style='width:100%;'>
    <iframe id='itut'  scrolling="no"
            seamless style='height:741px; width: 100%; '
            src='../scdn/view/tutorial_inner.html'></iframe>
</td><td >
    <div id='rightTut' class='tut_col'
         style='margin-right:10px; border-top-right-radius: 1em;'>
        <p>&nbsp;</p>
        <div class='round_button' style='margin-left: 1em;'>></div>
        <br/>
        <div style="margin-left: .5em; ">Next Step</div>

    </div>
</td></tr></table>

    

</div>

