<section id="clients" class="container">
    <div class="row">
        <div class="clients">
            <h2>Some of our amazing customers</h2>
            <div class="span1"></div>
            <div class="span2">
                <img src="../aCDN/libs/flat/cnet.png" alt="">
            </div>
            <div class="span2">
                <img src="../aCDN/libs/flat/billboard.png" alt="">
            </div>
            <div class="span2">
                <img src="../aCDN/libs/flat/mashable.png" alt="">
            </div>
            <div class="span2">
                <img src="../aCDN/libs/flat/techcrunch.png" alt="">
            </div>
            <div class="span2">
                <img src="../aCDN/libs/flat/variety.png" alt="">
            </div>
            <div class="span1"></div>
        </div><!-- clients -->
    </div><!-- row -->
        <br>
        <br>
        <br>
</section><!-- container -->
