<section id="intro" class="container">
    <br>
    <br>
    <hr>
    <div class="row">
        <br>
        <br>
        <div class="span6">
            <h1>WE ARE SIMPLE</h1>
            <h2>We define and design customer experiences in the digital channel. Simple & Flat is a nationally-recognised integrated marketing agency based in Madrid, Spain.</h2>
            <p>Our aim is simple. We want to impress you. So we listen. We research your industry, your competitors and your market. We make sure we understand your unique challenges and pressures. And then we bring our expertise to the table, designing and delivering compelling, first-class solutions that meet your specific requirements.</p>
        </div><!-- span6 -->

        <div class="span6">
            <img src="aCDN/libs/flat/responsive.png" alt="">
        </div><!-- span6 -->
    </div><!-- row -->
    <br>
    <br>
</section> <!-- /container -->