<!-- Studio Carousel and Quote -->
<section id="studio" class="container">
<br>
<hr>
<br>
    <div class="row">
        <div class="span6">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="aCDN/libs/flat/studio1.jpg" alt="">
                    </div>
                    <div class="item">
                    <img src="aCDN/libs/flat/studio2.jpg" alt="">
                    </div>
                    <div class="item">
                    <img src="aCDN/libs/flat/studio3.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a><!-- Carousel Control -->
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div><!-- myCarousel -->
        </div><!-- span6 -->

        <div class="span6">
            <div id="aboutwrap">
                <h3>It's the little things...</h3>
                <h4>...that make all the difference. You know, the little details we all take for granted but if taken away feel like a massive gap?</h4>
                <h4>We're dedicated to our work and truly love what we do. The ultimate reward for us is to see our clients succeed.</h4>
            </div>
        </div><!-- End span6 -->
    </div><!-- End row -->
    <br>
</section><!-- End Container -->