<section id='joinLogin' >
<style>

</style>
<form id='formL' class='form '>
    <div class='line center'>
        Login
    </div>
    <div class='line'>
        <label class='label' for='email'>E-Mail:</label>
        <input id='email'  class='topcoat-text-input textInput' type='text'  value='' placeholder='E-Mail'>
    </div>
    <div class='line'>
        <label class='label' for='password'>Password:</label>
        <input id='password'  class='topcoat-text-input textInput' type='password'  value='' placeholder='Password'>
    </div>
    <div id='loginEmailError' class='line tabIn' style='display:none'>
        <strong>Error: </strong> The email or password is not valid.
    </div>
    <div class ='line tabIn'>
        <a id='loginBut' class='topcoat-button--cta but' >Login</a>
    </div>
    <div class='line center'>
        <a href=''>Reset your password</a>
    </div>

</form>

<form id='formJ' class='form '>
    <div class='line center'>
        - or -
    </div>
    <div class='line center'>
        <hr/>
        Sign Up
    </div>
    <div class='line'>
        <label class='label' for='Jemail'>Full Name:</label>
        <input id='full_name'  class='topcoat-text-input
        textInput' type='text'  value='' placeholder='Enter your full name'>
    </div>
    <div class='line'>
        <label class='label' for='Jpassword'>Password:</label>
        <input id='Jpassword'  class='topcoat-text-input textInput' type='password'  value='' placeholder='Password'>
   </div>
    <div class='line'>
        <label class='label' for='Jpassword2'>Confirm:</label>
        <input id='Jpassword2'  class='topcoat-text-input textInput' type='password'  value='' placeholder='Confirm Password'>
    </div>
    <div class='line'>
        <label class='label' for='Jemail'>Work E-Mail:</label>
        <input id='Jemail'  class='topcoat-text-input textInput' type='text'  value='' placeholder='E-Mail'>
    </div>
    <div class='line'>
        <label class='label' for='promo_code'>Promo code:</label>
        <input id='promo_code'  class='topcoat-text-input textInput' type='text'  value='' placeholder='Promo COde'>
    </div>
    <div class='line'>
        <span class='tabIn'>
            <input type='checkbox'>
            I agree with terms of service.
        </span>
    </div>

    <div id='nameError' class='line tabIn' style='display: none;'>
        <strong>Name: </strong>  Name is required
    </div>
    <div id='signupEmailError' class='line tabIn' style='display: none;'>
        <strong>Error: </strong> Please provide a valid e-mail address.
    </div>
    <div id='termsError' class='line tabIn' style='display: none;'>
        <strong>Error: </strong> You must agree with the Terms of Service to Sign Up.
    </div>

    <div id='notMatching' class='line tabIn' style='display: none;'>
           <strong>Error: </strong> The passwords do not match.
    </div>
       
    <div class ='line tabIn'>
        <a id='joinBut' class='topcoat-button--cta but' >Sign Up</a>
    </div>
</form>




</section>
